/* shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

section {
    margin-bottom: 128px;
}

/* header section */
.header {
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px;
    margin-bottom: 178px;

}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 700px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-desc {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* main section */

/* featured section */
.featured>p{
    margin-left: 663px;
    margin-right: 663px;
}
.featured-flowers {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.flower-1-bg {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0;

}

.flower-2-bg {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 50px;
}

.flower-3-bg {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px;

}

.flower-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;

}

/* delivery info section */

.delivery-info-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 240px;
    margin-right: 240px;
    padding: 86px 175px;
}

.info-img {
    display: flex;
}


.info-desc {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 10px;
    margin-left: 5px;
}

/* hot deal section */
.hot-deal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 594px;
    margin: 230px 186px 162px 395px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-title>span {
    color: #E55473;
}

.hot-deal-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-deal-img {
    margin: 100px 430px 100px 0;
}

/* instagram section */
.instagram>p{
    margin-left: 663px;
    margin-right: 663px;
}
.instagram-flowers {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 240px;
    margin-right: 240px;
}

/* wdding decoration EXTRA SECTION */
.deco-img{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    background:  rgba(230, 78, 111, 0.05);
    padding: 20px;
    margin-left: 240px;
    margin-right: 240px;
    border-radius: 50px;
}
.wedding-img{
    border-radius: 18px;
}

/* latest deals section */

.latest-deals-container {
    margin-left: 230px;
    margin-right: 230px;
    background-image: url('./assets/rectangle_9.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    max-height: 450px;
    height: 100vh;
}


.latest-deals-content {
    /* padding: 122px 520px 16px; */
    text-align: center;
    padding-top: 122px;
}

.deals-form {
    display: flex;
    gap: 16px;
    margin: 0px 287px 121px;
}

.form-email {
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 22px 513px 22px 22px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* footer section */
.footer-container {
    background: #111010;
    padding-top: 128px;
    padding-bottom: 128px;
}

.footer-title {
    text-align: center;
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.footer-title>span {
    color: #E55473;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 648px 32px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}