/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;

}